[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pylint = "<2.0.0"
pycodestyle = "*"

[packages]
psycopg2 = "==2.7.6.1"
psycopg2-binary = "==2.8.1"
pytz = "==2018.7"
django-suit = "==0.2.26"
django-widget-tweaks = "*"
numpy = "*"
matplotlib = "*"
Django = "==1.11.21"
Pillow = "==6.0.0"

[requires]
python_version = "2.7"
