[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pylint = "<2.0.0"

[packages]
django = "*"
pillow = "==6.2.0"
psycopg2 = "==2.7.6.1"
psycopg2-binary = "==2.8.1"
pytz = "==2018.7"
django-suit = "*"

[requires]
python_version = "2.7"
